[Unit]
Description=Run the weekly Albums app container restart
Documentation=https://github.com/Ben0333/Album-List

[Timer]
OnCalendar=Sun *-*-* 04:30:00
Persistent=true
RandomizedDelaySec=15m
Unit=albums-weekly-restart.service

[Install]
WantedBy=timers.target
